@import "tailwindcss";

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

.inter-titulos {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.inter-navegacion {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


.inter-title {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


@keyframes glow-border {
  0% {
    box-shadow: 0 0 2px 1px #4E5F46;
  }
  50% {
    box-shadow: 0 0 7px 2px #E8C88A;
  }
  100% {
    box-shadow: 0 0 2px 1px #4E5F46;
  }
}

.glow-single {
  animation: glow-border 2s infinite ease-in-out;
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}


@keyframes marqueeScroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  display: inline-flex;
  min-width: 200%;
  animation: marqueeScroll 40s linear infinite;
}

.stroke-text {
  -webkit-text-stroke: 1px black;
  color: transparent;
}


